<div class="w-full flow">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem
  provident inventore maiores tenetur, sint, voluptate laboriosam debitis dolor
  obcaecati voluptatum animi quidem eligendi itaque deserunt repellat,
  perferendis nobis vel totam. Lorem ipsum, dolor sit amet consectetur
  adipisicing elit. Exercitationem provident inventore maiores tenetur, sint,
  voluptate laboriosam debitis dolor obcaecati voluptatum animi quidem eligendi
  itaque deserunt repellat, perferendis nobis vel totam.
</div>
