---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "flow";
  src: url("flow-rounded.woff") format("woff");
}

@layer utilities {
  @variants group-focus, focus, group-hover, hover, responsive {
    .flow {
      font-family: "flow";
    }
    .work {
      font-family: "Work Sans", sans-serif;
    }
    .mont {
      font-family: "Montserrat", sans-serif;
    }
    .tuna {
      color: #30323d;
    }
    .glass {
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
    .border-glass {
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
    .border-glass-bottom {
      border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    }
    .blur {
      background: rgba(17, 17, 17, 0.25);
      backdrop-filter: blur(4.5px);
      -webkit-backdrop-filter: blur(4.5px);
    }
    .fog {
      background-image: radial-gradient(
        rgba(186, 137, 255, 0.5) 0%,
        rgba(186, 137, 255, 0) 100%
      );
    }

    .glow:after {
      position: absolute;
      content: "";
      top: 10px;
      left: 0;
      right: 0;
      z-index: -1;
      height: 75%;
      width: 100%;
      margin: 0 auto;
      transform: scale(0.9);
      -webkit-filter: blur(15px);
      filter: blur(15px);
      background: linear-gradient(
        to left,
        #ff5770,
        #e4428d,
        #c42da8,
        #9e16c3,
        #6501de,
        #9e16c3,
        #c42da8,
        #e4428d,
        #ff5770
      );
      background-size: 200% 200%;
      animation: animateGlow 7s linear infinite;
    }
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 1;
}
